In [11]:
import pandas as pd
import numpy as np
import pulp
import random

In [8]:
# Create the properties of the offices
officeData = pd.DataFrame( { 'officeID': np.arange(0, 12)})
officeData['roomID'] = officeData['officeID']//4
officeData['isLeft'] = officeData['officeID']%2
officeData

    officeID  roomID  isLeft
0          0       0       0
1          1       0       1
2          2       0       0
3          3       0       1
4          4       1       0
5          5       1       1
6          6       1       0
7          7       1       1
8          8       2       0
9          9       2       1
10        10       2       0
11        11       2       1

In [22]:
persoData = pd.DataFrame( {'persoID' : np.arange(8)})
persoData['isTall'] = np.random.choice([0, 1], size=(8,1), p=[0.7, 0.3] )
persoData['service'] = np.random.randint(0, 3, (8,1) )
persoData

   persoID  isTall  service
0        0       0        1
1        1       0        2
2        2       0        1
3        3       1        1
4        4       0        2
5        5       0        1
6        6       1        0
7        7       1        0

array([[0, 2, 2, 2, 0, 1, 2]])